/**************/
/*   fonts    */
/**************/

@font-face {
  font-family: museoSans;
  src: url(../fonts/museosans-300.ttf);
}

@font-face {
  font-family:museoSansBold ;
  src: url(../fonts/museosans-700.ttf);
}

@font-face {
  font-family:doorEenKindGeschreven ;
  src: url(../fonts/BabyDoll.ttf);
}

@font-face {
  font-family: vijfJaarOud;
  src: url(../fonts/5yearsoldfont.ttf);
}

/* ===================================== */





/**************/
/* CSS REMEDY */
/**************/


/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}


/* ======================== */



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --color-black:black;
}

/* ======================== */





/********************/
/* ALGEMENE STYLING */
/********************/

html {
  background-image: url(../images/livingroombackdrop.jpg);
  background-size: cover;
  background-size: 110 90%;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: url(../images/handje.png);
  width: 100dvw;
  height: 100dvh;
  user-select: none;
}


body {
  margin:0;
  /* overflow: hidden; */
  position: relative;
  pointer-events: all;
  cursor: url(../images/handjesmall.png), pointer;
}

/* ======================== */







/**********/
/* Images */
/**********/

/* TV */

body div img{
  position: absolute;
  width: 80vw;
  left: calc(50% - 40vw);
  bottom: 0;
}

/* Poster met info */

img.skereposter {
  position: absolute;
  z-index: 5;
  scale: 0.2;
  bottom: 5vh;
}

/* Mario knuffel */

/* Image was om onbekende reden niet aan te spreken via :nth-of-type, vandaar de class */

img.plushy {
  position: absolute;
  left: 38vw;
  scale: .2;
  z-index: -4;
  top: -35vh;
}

/* Image was om onbekende reden niet aan te spreken via :nth-of-type, vandaar de class */

img.ROB {
  position: absolute;
  top: 5vh;
  right: -10vw;
  width: 30vw;
  height: auto;
  scale: 0.9;
}

/* img:nth-of-type(3) {
  position: absolute;
  top: 5vh;
  right: -10vw;
  width: 30vw;
  height: auto;
  scale: 0.9;
} */


/* ======================== */






/****************/
/*    Buttons   */
/****************/


button {
  cursor: url(../images/handjepointersmall.png), pointer;
}

/* buttons licht */
/* Button staat in PX omdat deze altijd groot genoeg moet zijn om usable te blijven */

button.lichtAan{
  position: absolute;
  top: 50vh;
  right: 2vw;
  display: block;
  width: 100px;
  height: 170px;
  background-image: url(../images/lightson.png);
  background-position-x: center;
  border: none;
  z-index: 15;
  scale: .7;
}

button.lichtUit{
  position: absolute;
  top: 50vh;
  right: 2vw;
  display: block;
  width: 100px;
  height: 170px;
  background-image: url(../images/lightsoff.png);
  background-position-x: center;
  border: none;
  z-index: 15;
  scale: .7;
}


/* TV button */

button:nth-of-type(1){
  position: absolute;
  width: 10vw;
  height: 30vh;
  left: calc(50% - 5vw);
  top: 37vh;
  z-index: 11;
  opacity: 0%;
}

/* Button voor stekker die nog niet gebruikt wordt */

button:nth-of-type(2){
  position: absolute;
  width: 3vw;
  height: 5vh;
  left: calc(14% - 5vw);
  bottom: 0;
  z-index: 11;
  opacity: 0%;
}

button:nth-of-type(4){
  position: absolute;
  left: 15vw;
  top: 85vh;
  opacity: 0;
  z-index: 500;
}

button:nth-of-type(5){
  position: absolute;
  left: 5vw;
  top: 22vh;
  opacity: 0;
  z-index: 500;
}

/* ======================== */







/**********************************/
/*    Section 1: controller SVGH  */
/**********************************/

body section:nth-of-type(1) {
  /* display: grid;
  place-items: center; */
  /* margin-top: 15vh; */
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 10;
  left: 0;
  bottom: 0;
}

svg {
  position: absolute;
  width: 20vw;
  bottom: 2vh;
  z-index: 10;
  left: calc(50% - 10vw);
  filter: drop-shadow(4px 44px 33px #000000);
  transition: ease-in-out 1s;
}

svg:hover {
  bottom: 10vh;
  scale: 1.4;
  transition: ease-in-out .5s;
  cursor: url(../images/handjepointersmall.png), pointer;
}

/* =============================================== */








/************************************/
/*    Section 2: poster met info   */
/***********************************/


body section:nth-of-type(2){
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: auto;
  min-height: 100vh;
  scale: 0.8;
  z-index: -4;
  text-align:center;
  /* background-image: url(../images/skereposter.png); */
  background-image: url(../images/skerepostermettekening.png);
  background-size:100%;
  background-repeat: no-repeat;
}


body section:nth-of-type(2) h1 {
  color: var(--color-headings);
  padding-top: 1vh;
  /* font-family:museoSansBold ; */
  font-family:doorEenKindGeschreven ;
  font-size:2.5em;
  min-width: 20vw;
  max-width: 30vw;
  margin: 0;
  margin-top: 4vh;
}


body section:nth-of-type(2) p{
  /* font-family: museoSans; */
  font-family: vijfJaarOud;
  min-width: 30vw;
  max-width: 30vw;
  right: 500px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 1.4em;
  text-align:center;
}

/* ======================================= */








/***********************************/
/*    Section 3: gifjes van games  */
/***********************************/


body section:nth-of-type(3) {
  position: absolute;
  /* left: calc(50%-20vw); */
  right: calc(50% - 20vw);
  top: 2.5%;
  /* bottom: 0; */
  width: 40vw;
  height: 30vw;
  scale: .5;
  z-index: -5;
}


body section:nth-of-type(3) img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: calc(50%-10vw);
}


.upper{
  z-index: 3;
}

/* ======================================= */







/********************/
/*     Classes      */
/********************/

.donkerSwa {
  display: block;
  position: absolute;
  background-color: var(--color-black);
  width: 5000px;
  height: 5000px;
  z-index: 500;
  opacity: 90%;
}






.ster {
  display: block;
  position: absolute;
  animation: rainbow-bg .5s linear;
	animation-iteration-count: infinite;
  width: 5000px;
  height: 5000px;
  z-index: 500;
  opacity: 50%;
}

@keyframes rainbow-bg{
  100%,0%{
    background-color: rgb(255,0,0);
  }
  8%{
    background-color: rgb(255,127,0);
  }
  16%{
    background-color: rgb(255,255,0);
  }
  25%{
    background-color: rgb(127,255,0);
  }
  33%{
    background-color: rgb(0,255,0);
  }
  41%{
    background-color: rgb(0,255,127);
  }
  50%{
    background-color: rgb(0,255,255);
  }
  58%{
    background-color: rgb(0,127,255);
  }
  66%{
    background-color: rgb(0,0,255);
  }
  75%{
    background-color: rgb(127,0,255);
  }
  83%{
    background-color: rgb(255,0,255);
  }
  91%{
    background-color: rgb(255,0,127);
  }
}












/* ======================================= */